<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <naV>
        <ul class="parent">

            <div class="div1">
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a th:href="'/profiles/'+${user.id}">My Profile</a>
                </li>


                <li>
                    <a href="/allUsers">Discover Users</a>
                </li>

                <li>
                    <a href="/feed">Feed</a>
                </li>
            </div>

            <div class="div2">
                <li>
                    <img src="https://external-preview.redd.it/LIS9Nwz2T9QJ-QtWnYMZuEX_nO0EcJfLIqP4jBMWeNE.png?auto=webp&s=091c7d9d094fc2d439f191869d6dd842a9c7064b">
                    <a href="/myprofile"><span th:text="${user.username}"></span></a>
                </li>
                <li>
                    <a th:if="${isLogin}" href="/logout">logout</a>
                </li>
            </div>

        </ul>
    </naV>
</header>

<h1>users:</h1>
<br>
<div class="allUsers" th:each="user:${userH}">

    <input  name="id" type="hidden" th:value="${user.id}">
    <h2><a th:href="${'/profiles/'+user.id}"> visit profile</a></h2>
    <img src="https://external-preview.redd.it/LIS9Nwz2T9QJ-QtWnYMZuEX_nO0EcJfLIqP4jBMWeNE.png?auto=webp&s=091c7d9d094fc2d439f191869d6dd842a9c7064b">
    <h2> <span th:text="${user.username}"></span></h2>

</div>

</body>
</html>