<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <naV>
        <ul class="parent">

            <div class="div1">
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a th:if="${isLogin}" th:href="'/profiles/'+${user.id}">My Profile</a>
                </li>


                <li>
                    <a href="/allUsers">Discover Users</a>
                </li>

                <li>
                    <a href="/feed">Feed</a>
                </li>
            </div>

            <div class="div2">
                <li>
                    <img src="https://external-preview.redd.it/LIS9Nwz2T9QJ-QtWnYMZuEX_nO0EcJfLIqP4jBMWeNE.png?auto=webp&s=091c7d9d094fc2d439f191869d6dd842a9c7064b">
                    <a th:if="${isLogin}" th:href="'/profiles/'+${user.id}"><span  th:text="${user.username}"></span></a>
                </li>
                <li>
                    <a th:unless="${!(isLogin)}" href="/logout">logout</a>
                </li>
            </div>

        </ul>
    </naV>
</header>


<h1>about this site ... </h1>
<p> info about this site</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>


<div class="links">
    <h1><a href="/signup">Sign Up</a></h1>
    <br>
    <br>
    <br>
<h2><a href="/login">log-in</a></h2>
</div>

</body>
</html>