<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<form method="POST" action="/signup">
    <label for="username">User name</label>
    <input id="username" name="username" type="text">

    <label for="firstName">firstName</label>
    <input id="firstName" name="firstName" type="text">

    <label for="lastName">lastName</label>
    <input id="lastName" name="lastName" type="text">

    <label for="password">password</label>
    <input id="password" name="password" type="text">

    <label for="dateOfBirth">dateOfBirth</label>
    <input id="dateOfBirth" name="dateOfBirth" type="date">

    <label for="bio">bio</label>
    <input id="bio" name="bio" type="text">



    <button type="submit">Submit</button>

</form>

</body>
</html>